{layout "base.latte"}
{block title}Registrace{/block}
{block content}
	<form action="/register" method="post">
		<input type="email" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="password" name="re-password" placeholder="Re-Password">
		<input type="submit" value="Register">
	</form>
	{if $error}
		<p style="color: red;">{$errorMessage ? $errorMessage : "Něco se nepovedl!"}</p>
	{/if}
{/block}
